.App {
  /*text-align: center;*/
  background-color: #282c34;
  min-height: 100vh;
  /*display: flex;
  flex-direction: column;*/
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  color: white;
}

.sticky-column {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0
}

.table {
   /* border: 1px solid #eeccee;*/
    max-height: 300px;
    overflow-y: scroll;
    width: 100%;
    color: white !important;
}
 
